In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as ans
import json

In [2]:
json_file = 'yelp_academic_dataset_business[1].json'
data = []
with open(json_file, 'r', encoding='utf-8') as f:
    for line in f:
        data.append(json.loads(line))
df_business = pd.DataFrame(data)
df_business.to_csv('yelp_academic_dataset_business.csv', index=False)

In [3]:
json_file = 'yelp_academic_dataset_checkin[1].json'
data = []
with open(json_file, 'r', encoding='utf-8') as f:
    for line in f:
        data.append(json.loads(line))
df_checkin = pd.DataFrame(data)
df_checkin.to_csv('yelp_academic_dataset_checkin.csv', index=False)

In [4]:
json_file = 'yelp_academic_dataset_review[1].json'
data = []
with open(json_file, 'r', encoding='utf-8') as f:
    for line in f:
        data.append(json.loads(line))
df_review = pd.DataFrame(data)
df_review.to_csv('yelp_academic_dataset_review.csv', index=False)

In [5]:
json_file = 'yelp_academic_dataset_tip[1].json'
data = []
with open(json_file, 'r', encoding='utf-8') as f:
    for line in f:
        data.append(json.loads(line))
df_tip = pd.DataFrame(data)
df_tip.to_csv('yelp_academic_dataset_tip.csv', index=False)

In [6]:
json_file = 'yelp_academic_dataset_user[1].json'
data = []
with open(json_file, 'r', encoding='utf-8') as f:
    for line in f:
        data.append(json.loads(line))
df_user = pd.DataFrame(data)
df_user.to_csv('yelp_academic_dataset_user.csv', index=False)

In [7]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [8]:
df_checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [9]:
df_review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [10]:
df_tip.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [11]:
df_user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [12]:
print("df_business",df_business.shape)
print("df_checkin",df_checkin.shape)
print("df_review",df_review.shape)
print("df_tip",df_tip.shape)
print("df_user",df_user.shape)

df_business (150346, 14)
df_checkin (131930, 2)
df_review (6990280, 9)
df_tip (908915, 5)
df_user (1987897, 22)

In [13]:
df_business.describe(include='all')

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
count,150346,150346,150346,150346,150346,150346,150346.000000,150346.000000,150346.000000,150346.000000,150346.00000,136602,150243,127123
unique,150346,114117,122844,1416,27,3362,NaN,NaN,NaN,NaN,NaN,67212,83160,49822
top,Pns2l4eNsfO8kk83dixA6A,Starbucks,,Philadelphia,PA,93101,NaN,NaN,NaN,NaN,NaN,{'BusinessAcceptsCreditCards': 'True'},"Beauty & Spas, Nail Salons","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
freq,1,724,5127,14569,34039,1866,NaN,NaN,NaN,NaN,NaN,9385,1012,6796
mean,NaN,NaN,NaN,NaN,NaN,NaN,36.671150,-89.357339,3.596724,44.866561,0.79615,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,5.872759,14.918502,0.974421,121.120136,0.40286,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,27.555127,-120.095137,1.000000,5.000000,0.00000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,32.187293,-90.357810,3.000000,8.000000,1.00000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,38.777413,-86.121179,3.500000,15.000000,1.00000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,39.954036,-75.421542,4.500000,37.000000,1.00000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,53.679197,-73.200457,5.000000,7568.000000,1.00000,NaN,NaN,NaN

In [14]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

In [30]:
df_business.dtypes

business_id      object
name             object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      int64
is_open           int64
attributes       object
categories       object
hours            object
dtype: object

In [32]:
df_business.isnull().sum()

business_id         0
name                0
address             0
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      13744
categories        103
hours           23223
dtype: int64

In [34]:
df_business['latitude'].nunique()

135593

In [36]:
df_business['longitude'].nunique()

131918

In [38]:
df_business['stars'].nunique()

9

In [40]:
df_business['review_count'].nunique()

1158

In [42]:
df_business['is_open'].nunique()

2

In [44]:
df_business['is_open'].value_counts()

is_open
1    119698
0     30648
Name: count, dtype: int64

In [46]:
df_checkin.shape

(131930, 2)

In [48]:
df_checkin.describe(include='all')

,business_id,date
count,131930,131930
unique,131930,131930
top,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
freq,1,1

In [49]:
df_checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [50]:
df_checkin.dtypes

business_id    object
date           object
dtype: object

In [51]:
df_checkin.isnull().sum()

business_id    0
date           0
dtype: int64

In [52]:
df_checkin['business_id'].nunique()

131930

In [58]:
df_checkin['date'].nunique()

131930

In [60]:
df_review.shape

(6990280, 9)

In [62]:
df_review.describe(include='all')

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
count,6990280,6990280,6990280,6.990280e+06,6.990280e+06,6.990280e+06,6.990280e+06,6990280,6990280
unique,6990280,1987929,150346,NaN,NaN,NaN,NaN,6974127,6885665
top,KU_O5udG6zpxOg-VcAEodg,_BcWyKQL16ndpBdggh2kNA,_ab50qdWOk0DdB6XOrBitw,NaN,NaN,NaN,NaN,DO NOT PARK HERE!\nthey are too quick to boot ...,2014-04-14 09:19:21
freq,1,3048,7673,NaN,NaN,NaN,NaN,18,8
mean,NaN,NaN,NaN,3.748584e+00,1.184609e+00,3.265596e-01,4.986175e-01,NaN,NaN
std,NaN,NaN,NaN,1.478705e+00,3.253767e+00,1.688729e+00,2.172460e+00,NaN,NaN
min,NaN,NaN,NaN,1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
50%,NaN,NaN,NaN,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
75%,NaN,NaN,NaN,5.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
max,NaN,NaN,NaN,5.000000e+00,1.182000e+03,7.920000e+02,4.040000e+02,NaN,NaN

In [63]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        float64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         object
dtypes: float64(1), int64(3), object(5)
memory usage: 480.0+ MB

In [64]:
df_review.dtypes

review_id       object
user_id         object
business_id     object
stars          float64
useful           int64
funny            int64
cool             int64
text            object
date            object
dtype: object

In [65]:
df_review.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [66]:
df_review['stars'].nunique()

5

In [67]:
df_review['useful'].nunique()

259

In [68]:
df_review['funny'].nunique()

201

In [69]:
df_review['cool'].nunique()

210

In [70]:
df_tip.shape

(908915, 5)

In [71]:
df_tip.describe(include='all')

,user_id,business_id,text,date,compliment_count
count,908915,908915,908915,908915,908915.000000
unique,301758,106193,851033,906694,NaN
top,fCvMnJU1Z-XhAjKg99wK3Q,FEXhWNCMkv22qG04E83Qjg,Great food,2014-02-20 04:09:37,NaN
freq,4071,2571,598,6,NaN
mean,NaN,NaN,NaN,NaN,0.012525
std,NaN,NaN,NaN,NaN,0.120763
min,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,0.000000
max,NaN,NaN,NaN,NaN,6.000000

In [72]:
df_tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  object
 4   compliment_count  908915 non-null  int64
dtypes: int64(1), object(4)
memory usage: 34.7+ MB

In [73]:
df_tip.dtypes

user_id             object
business_id         object
text                object
date                object
compliment_count     int64
dtype: object

In [74]:
df_tip.isnull().sum()

user_id             0
business_id         0
text                0
date                0
compliment_count    0
dtype: int64

In [75]:
df_tip['user_id'].nunique()

301758

In [76]:
df_tip['business_id'].nunique()

106193

In [77]:
df_tip['text'].nunique()

851033

In [78]:
df_tip['date'].nunique()

906694

In [79]:
df_tip['compliment_count'].nunique()

7

In [80]:
df_tip['compliment_count'].value_counts()

compliment_count
0    898376
1      9821
2       617
3        82
4        14
5         3
6         2
Name: count, dtype: int64

In [81]:
df_user.shape

(1987897, 22)

In [82]:
df_user.describe(include='all')

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
count,1987897,1987897,1.987897e+06,1987897,1.987897e+06,1.987897e+06,1.987897e+06,1987897,1987897,1.987897e+06,...,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06,1.987897e+06
unique,1987897,132361,NaN,1980183,NaN,NaN,NaN,1356,1091999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,qVc8ODYU5SZjKXVBgXdI7w,John,NaN,2017-05-07 23:58:02,NaN,NaN,NaN,,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,18719,NaN,3,NaN,NaN,NaN,1896699,878551,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2.339441e+01,NaN,4.229634e+01,1.697054e+01,2.379291e+01,NaN,NaN,1.465740e+00,...,2.922631e-01,1.793176e-01,1.336493e-01,6.390723e-02,1.443135e+00,3.011841e+00,2.829308e+00,2.829308e+00,1.056448e+00,1.226859e+00
std,NaN,NaN,8.256699e+01,NaN,6.414806e+02,4.078034e+02,5.653513e+02,NaN,NaN,1.813075e+01,...,1.282467e+01,1.515525e+01,1.135682e+01,1.004363e+01,6.016790e+01,1.193898e+02,9.666385e+01,9.666385e+01,3.217973e+01,9.515751e+01
min,NaN,NaN,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,2.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,NaN,NaN,5.000000e+00,NaN,3.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,NaN,NaN,1.700000e+01,NaN,1.300000e+01,2.000000e+00,3.000000e+00,NaN,NaN,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,NaN,NaN,1.747300e+04,NaN,2.062960e+05,1.858230e+05,1.998780e+05,NaN,NaN,1.249700e+04,...,1.350100e+04,1.418000e+04,1.365400e+04,1.266900e+04,5.903100e+04,1.010970e+05,4.996700e+04,4.996700e+04,1.593400e+04,8.263000e+04

In [83]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 333.7+ MB

In [84]:
df_user.dtypes

user_id                object
name                   object
review_count            int64
yelping_since          object
useful                  int64
funny                   int64
cool                    int64
elite                  object
friends                object
fans                    int64
average_stars         float64
compliment_hot          int64
compliment_more         int64
compliment_profile      int64
compliment_cute         int64
compliment_list         int64
compliment_note         int64
compliment_plain        int64
compliment_cool         int64
compliment_funny        int64
compliment_writer       int64
compliment_photos       int64
dtype: object

In [85]:
df_user.isnull().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64